.main {
    width: 100%;
}

p {
    margin: 0px;
}


.card-img-top {
    width: 125px;
    height: 125px;
    object-fit: cover;
}



.card {
    width: 250px;
    height: 100%;
}

.contributions {
   
    height: 300px;
}

.item {
    width: 260px;
    height: 100%;
}

.more-info-text {
    text-align: justify;
}


